apiVersion: v1
kind: Service
metadata:
  name: demo-app-svc
  namespace: demo-canary
spec:
  selector:
    app: demo-app
  ports:
    - port: 80
      targetPort: 9999
  type: LoadBalancer


